fastapi
uvicorn
pydantic
pydantic-settings
typing-extensions
motor
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
cryptography
groq
httpx
requests>=2.32.5
apscheduler
certifi
pandas
numpy
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
huggingface_hub
Pillow
Jinja2
email-validator
pytz
faiss-cpu
