fastapi
uvicorn
motor
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic
groq
httpx
requests>=2.32.5
apscheduler
certifi
pandas
langchain-community
langchain-core
langchain-groq
langchain-huggingface
cryptography
Pillow
numpy
Jinja2
sentence-transformers
huggingface_hub
